<html>
  <body>
    <h1>{% trans %}Two{% endtrans %}</h1>
    <ul>
      <li><a href="{{ url_for('select_language', language='en', camefrom=request.endpoint) }}">English</a></li>
      <li><a href="{{ url_for('select_language', language='es', camefrom=request.endpoint) }}">Spanish</a></li>
      <li><a href="{{ url_for('select_language', language='fr', camefrom=request.endpoint) }}">Français</a></li>
    </ul>
    <ul>
      <li><a href="/">{% trans %}Hello{% endtrans %}</a></li>
      <li><a href="/2">{% trans %}Two{% endtrans %}</a></li>
      <li><a href="/3">{% trans %}Three{% endtrans %}</a></li>
    </ul>
  </body>
</html>
